[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#list {
  list-style: none;
  margin: 0px;
  
}

#list li {
  list-style-image: none;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
  color: #666;
  cursor: move;
}

#list li:hover {
  background-color: #eee;
}




