[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#listEtats, 
#listStockages {
  list-style: none;
  margin: 0px;
  
}

#listEtats li, 
#listStockages li {
  list-style-image: none;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
  color: #666;
  cursor: move;
}

#listEtats li:hover,
#listStockages li:hover {
  background-color: #eee;
}

.map-frame {
  width: 600px; height: 400px;
/*   We use outline over border as has issues in some cases */
  outline: 1px solid black;
}

#map { 
  height: 100%;
    width: 100%;
}


.sticker {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0;
  margin: 1px;
}

.sticker .sticker0 {
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  place-content: center;
}

.dateLabel:hover, 
.date:hover, 
.sticker .sticker0:hover {
  cursor: not-allowed;
}

.sticker .rightCB {
  grid-column: 3;
  grid-row: 1 / 5;
  place-content: center;
}

.sticker .sticker1 {
  grid-column: 1 / 3;
  grid-row: 5;
}
.sticker .sticker2 {
  grid-column: 3;
  grid-row: 5;
}
.sticker .sticker3 {
  grid-column: 1;
  grid-row: 6;
}
.sticker .sticker4 {
  grid-column: 2 / 4;
  grid-row: 6;
}
.sticker .sticker5 {
  grid-column: 1 / 4;
  grid-row: 7;
  
}
.sticker * {
  border: 1px solid white;
}


.dateLabel {
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  text-align: center; 
  font-size: 10px;;
}

.date {
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  text-align: center; 
  font-size: 12px;;
}
.barcode {
    width : 100%;
}