.wrapper {
    display: grid;
    /* grid-template-columns: 30% 60% 30%; */
}

.wrapper >div {
    border: 1px solid #5e5d5b;
    border-radius: 5px;
    background-color: #cecece;
}

.item-cb {
    grid-column: 2;
    grid-row: 1 / 4;
}

.item-line {
    grid-column: 1 / 4;
    grid-row: 4;
}

.blank {
    background-color: #32a1ce;
    width: 100%;
    height: 100%;
}

.numb {
    width: 100%;
    height: 100%;
    font-size: 30px;
}

nav
 {
    border:2px solid red;
    background-color: blue;
}

nav div {
  background-color:grey;
  height:50px;
}

.stickerElement {
    cursor: pointer;
}

.stickerElement .active{
    background-color: #ffd8a8;
}

