.content {  
  padding: 1px;
  width: 576px;
  overflow: none;
}

.sticker {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0;
  margin: 1px;
}

.sticker .sticker0 {
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  place-content: center;
}

.sticker .rightCB {
  grid-column: 3;
  grid-row: 1 / 5;
  place-content: center;
}

.sticker .sticker1 {
  grid-column: 1 / 3;
  grid-row: 5;
}
.sticker .sticker2 {
  grid-column: 3;
  grid-row: 5;
}
.sticker .sticker3 {
  grid-column: 1;
  grid-row: 6;
}
.sticker .sticker4 {
  grid-column: 2 / 4;
  grid-row: 6;
}
.sticker .sticker5 {
  grid-column: 1 / 4;
  grid-row: 7;
  
}
.sticker * {
  border: 1px solid white;
}


.dateLabel {
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  text-align: center; 
  font-size: 10px;;
}

.date {
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  text-align: center; 
  font-size: 12px;;
}
.barcode {
    width : 100%;
}