.icon_plus:before {
	color: white;
	content:'\2795\FE0E';
  font-size: 16px;
}

.icon_after:before {
	color: white;
	content:'\2344\FE0E';
 	font-size: 16px;
}

.icon_print:before {
	color: white;
	content:'\1f5b6\FE0E';
  	font-size: 16px;
}

.icon_edit:before {
	color: white;
	content:'\2385\FE0E';
  	font-size: 16px;
}

.icon_left:before {
	color: white;
	content:'\2190\FE0E';
  	font-size: 16px;
}

.icon_up:before {
	color: white;
	content:'\2191\FE0E';
  	font-size: 16px;
}
.icon_right:before {
	color: white;
	content:'\2192\FE0E';
  	font-size: 16px;
}

.icon_bottom::before {
	color: white;
	content:'\2193\FE0E';
  	font-size: 16px;
}

.icon_download::before{
	color: white;
	content:'\21d5\FE0E';
  	font-size: 16px;
}