* {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --primary-light: #4895ef;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --bs-pagination-color: white;
    --shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    --radius: 12px;
    --transition: all 0.3s ease;
}

body {
    margin: 0;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.fit {
   white-space: nowrap;
   width: 1%;
}

/* select{ width:200px;
} */

.DropDownInputOverride { 
width:170px;
display:none;
}