.modal {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.modal__content {
  height: 250px;
  min-width: 300px;
  max-width: 600px;
  padding: 1em;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 22px -1px rgba(0, 0, 0, 0.85);
}

.modal__ok {
  background-color: #75a175;
}

.modal__error {
  background-color: #b74982
}

@media only screen and (max-width: 600px) {
  .modal__content {
    align-self: flex-start;
  }
}
.modal__heading {
  font-size: 30px;
  color: white;
}
.modal__close {
  top: 0;
  right: 0;
  position: absolute;
  background: none;
  font-size: 30px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  color: white;
}
.modal__close:hover {
  opacity: 1;
}
.modal__copy {
  color: white;
  line-height: 1.2;
  font-size: 18px;
}
.modal__actions {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.modal__action {
  width: 90px;
  padding: 5px;
}
.modal__action--negative {
  float: left;
}
.modal__action--positive {
  float: right;
}

.modal__action--ok {
    /* float: right; */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}