.content {  
  padding: 1px;
  width: 576px;
  overflow: none;
}

.flag-eu {
    width: 100%;
    height: 100%;
}

.pass-phyto p {
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  
}

.pass-phyto {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  5% 30% 30% 35%;
  gap: 0;
  margin: 1px;  
}

.pass-phyto .head {
  grid-column: 1 / 5;
  grid-row: 1;  
}

.pass-phyto .flag {
  grid-column: 1 / 1;
  grid-row: 2;
}

.pass-phyto .title {
  grid-column: 2 / 5;
  grid-row: 2; 
  font-size: 9px; 
  padding-right: 3px;
}
.pass-phyto .nom {
  grid-column: 1/ 3;
  grid-row: 3;
  place-content: center;
  font-size: 16px;
}

.pass-phyto .code {
  grid-column: 3 / 5;
  grid-row: 3;
  place-content: center;
  font-size: 16px;
}
  .pass-phyto .trace {
    grid-column: 1 / 3;
    grid-row: 4;
    font-size: 16px;
    place-content: center;
  }
  .pass-phyto .origine {
    grid-column: 3 / 5;
    grid-row: 4;
    place-content: center;
    font-size: 16px;
}