@media print {

    @page {
            margin: 0 !important;
    }
    
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    body {
    visibility: hidden;
  }

  #printAble {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

* {
    box-sizing: content-box;
}

.content {  
  padding: 16px;
  width: 576px;
  width: 288px;
  overflow: none;
}

.flag-eu {
    width: 100%;
    height: 100%;
}

.pass-phyto p {
  padding-left: 10px;
  overflow: hidden;
   text-overflow: ellipsis; 
   white-space: nowrap; 
  
}

.pass-phyto {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:  5% 30% 30% 35%;
}

.pass-phyto .head {
  grid-column: 1 / 5;
  grid-row: 1;  
}

.pass-phyto .flag {
  grid-column: 1 / 1;
  grid-row: 2;
}

.pass-phyto .title {
  grid-column: 2 / 5;
  grid-row: 2; 
   font-size: 9px; 
}
.pass-phyto .nom {
  grid-column: 1/ 3;
  grid-row: 3;
   font-size: 16px;
  }
  .pass-phyto .code {
    grid-column: 3 / 5;
    grid-row: 3;
    font-size: 16px;
    font-size: 16px;
  }
  .pass-phyto .trace {
    grid-column: 1 / 3;
    grid-row: 4;
    font-size: 16px;
  }
  .pass-phyto .origine {
    grid-column: 3 / 5;
    grid-row: 4;
    font-size: 16px;
}


.pass-phyto  * {
  /* border: 1px solid black;
  place-content: center; */
}