@media print {

    @page {
            margin: 0 !important;
    }
    
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    body {
    visibility: hidden;
  }

  #printAble {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

* {
    box-sizing: content-box;
}

.sticker {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4 25%);
  grid-template-rows: 25% repeat(6 15%);
  gap: 0;
  margin: 0;
}

.sticker .sticker0 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    place-content: end center;
}

.barcode {
    width : 100%;
}
.sticker .sticker1 {
  grid-column: 3 / 4;
  grid-row: 1;
  vertical-align: bottom;
}
.sticker .sticker2 {
  grid-column: 3 / 4;
  grid-row: 2;
}
.sticker .sticker3 {
  grid-column: 1 / 2;
  grid-row: 3;
}
.sticker .sticker4 {
  grid-column: 2 / 4;
  grid-row: 3;
}
.sticker .sticker5 {
  grid-column: 1 / 2;
  grid-row: 4;
}
.sticker .sticker6 {
  grid-column: 2 / 4;
  grid-row: 4;
}
.sticker .sticker7 {
  grid-column: 1 / 4;
  grid-row: 5;
  
}
.sticker * {
  border: 1px solid white;
}
